@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@500;700&family=Open+Sans:wght@400;700&display=swap");

* {
  padding: 0px;
  margin: 0px;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
}

:root {
  --color-dark-blue: #3f3d56;
  --color-pink: #ee24ff;
  --color-gray-light: #828282;
  --color-snow-white: #eceff2;
}

body {
  text-align: center;
  font-size: 15px;
}

#main img {
  width: 350px;
}

#main h1 {
  font-family: "Dosis", sans-serif;
  font-size: 32px;
  font-weight: 500;
  color: var(--color-dark-blue);
}

h1 span {
  font-weight: bold;
  color: var(--color-pink);
}

p {
  line-height: 22px;
  color: var(--color-gray-light]);
}
